.container {
  overflow: hidden;
  position: relative;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 1rem 0.5rem 0;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  );
}
.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev {
  left: 0;
  padding-left: 0.5rem;
}
.next {
  right: 0;
  margin-right: 1rem;
}

ul {
  position: absolute;
  top: 95%;
  right: 45%;
  padding-bottom: 0.5rem;
  /* width: 50%; */
  /* 
  margin-top: 15px; */
  display: flex;
  justify-content: center;
  list-style: none;
}

.dots {
  border-radius: 50%;
  border: 2px solid black;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
}

.filled {
  background-color: #222;
  border-color: #fff;
}

@media screen and (max-width: 1160px) {
  .container {
    padding: 0.3rem 0 0 0;
    height: 80%;
  }
}

@media screen and (max-width: 990px) {
  .container {
    height: 85%;
    margin: 0.5rem auto;
    padding: 0.5rem 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  ul {
    right: 35%;
  }
}

@media screen and (max-width: 630px) {
  .prev,
  .next {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 573px) {
  .container {
    height: 90%;
  }
}

@media screen and (max-width: 490px) {
  ul {
    right: 25%;
  }

  .dots {
    border-radius: 50%;
    border: 2px solid black;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
  }

  .filled {
    background-color: #222;
    border-color: #fff;
  }
}

@media screen and (max-width: 360px) {
  ul {
    right: 25%;
  }
}
